<script type="text/x-handlebars" data-template-name="/connectors/below-footer/custom-footer">
  <div class="wrap">
    <div class="flexbox">
      <div class="first-box">
        <div class="heading">
          {{theme-setting "Heading"}}
        </div>
        <div class="blurb">
          {{theme-setting "Blurb"}}
        </div>
      </div>
      <div class="second-box">
        <div class="links"></div>
      </div>
      <div class="third-box">
        <div class="footer-links"></div>
        <div class="social"></div>
      </div>
    </div>
  </div>
  </script>
  
  <script type="text/discourse-plugin" version="0.8.23">
  $(document).ready(function() {
    let sec = "",
      seg = "",
      rawMain = "",
      mainUl = "",
      socUl = "",
      footerUl = "",
      parentBase = "";
  
    sec = $.map(settings.Link_sections.split("|"), $.trim);
    seg = $.map(settings.Links.split("|"), $.trim);
    soc = $.map(settings.Social_links.split("|"), $.trim);
    fot = $.map(settings.Small_links.split("|"), $.trim);
  
    $.each(sec, function() {
      var sec = $.map(this.split(","), $.trim);
      klass = sec[0].replace(/\s+/g, "-").toLowerCase();
      rawMain +=
        '<div class="list"><span class="' +
        klass +
        '" title="' +
        sec[1] +
        '">' +
        sec[0] +
        '</span><div id="' +
        klass +
        '"><ul></ul></div></div>';
    });
  
    $(".custom-footer .links").html(rawMain);
  
    $.each(sec, function() {
      var sec = $.map(this.split(","), $.trim),
        parentBase = sec[0].replace(/\s+/g, "-").toLowerCase(),
        mainUl = $("#" + parentBase + " ul").html();
  
      $.each(seg, function() {
        var seg = $.map(this.split(","), $.trim),
          parentForItem = seg[0].replace(/\s+/g, "-").toLowerCase(),
          klass = seg[1];
  
        if (parentBase == parentForItem) {
          if (seg[3] == "blank") {
            seg[3] = "_blank";
            klass += " blank ";
          } else {
            seg[3] = "";
          }
          if (seg[4] == null || seg[5] == " ") {
            seg[4] = "";
          }
          mainUl +=
            '<li class="footer-section-link-wrapper ' +
            klass +
            '"><a target="' +
            seg[3] +
            '" title="' +
            seg[4] +
            '" class="footer-section-link" href="' +
            seg[2] +
            '">' +
            seg[1] +
            "</li>";
          $("#" + parentBase + " ul").html(mainUl);
        }
      });
    });
  
    $.each(soc, function() {
      var soc = $.map(this.split(","), $.trim);
      klass = soc[0].replace(/\s+/g, "-").toLowerCase();
      if (soc[3] == "blank") {
        target = "_blank";
      } else {
        target = "";
      }
      socUl +=
        '<a class="social-link ' +
        klass +
        '" title="' +
        soc[1] +
        '" target="' +
        target +
        '"href="' +
        soc[2] +
        '"><i class="' +
        klass +
        '"></i>' +
        "</a>";
    });
  
    $(".custom-footer .social").html(socUl);
  
    $.each(fot, function() {
      var fot = $.map(this.split(","), $.trim);
      klass = fot[0].replace(/\s+/g, "-").toLowerCase();
      if (seg[2] == "blank") {
        target = "_blank";
      } else {
        target = "";
      }
      footerUl +=
        '<a class="small-link ' +
        klass +
        '" title="' +
        fot[1] +
        '" href="' +
        fot[1] +
        '" target="' +
        target +
        '">' +
        fot[0] +
        "</a>";
    });
  
    $(".custom-footer .footer-links").html(footerUl);
  });
  </script>
  <script type="text/x-handlebars" data-template-name="list/topic-list-item.raw">
    {{#if bulkSelectEnabled}}
    <td class="bulk-select">
      <input type="checkbox" class="bulk-select">
    </td>
  {{/if}}
  
  {{!--
    The `~` syntax strip spaces between the elements, making it produce
    `<a class=topic-post-badges>Some text</a><span class=topic-post-badges>`,
    with no space between them.
    This causes the topic-post-badge to be considered the same word as "text"
    at the end of the link, preventing it from line wrapping onto its own line.
  --}}
  <td class='main-link clearfix' colspan="{{titleColSpan}}">
    <span class='link-top-line'>
      {{~raw-plugin-outlet name="topic-list-before-status"}}
      {{~raw "topic-status" topic=topic}}
      {{~topic-link topic class="raw-link raw-topic-link"}}
      {{~#if topic.featured_link}}
        {{~topic-featured-link topic}}
      {{~/if}}
      {{~raw-plugin-outlet name="topic-list-after-title"}}
      {{~#if showTopicPostBadges}}
        {{~raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl newDotText=newDotText}}
      {{~/if}}
    </span>
  
    {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}
    {{#if expandPinned}}
      {{raw "list/topic-excerpt" topic=topic}}
    {{/if}}
    {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
  </td>
  
  {{#unless hideCategory}}
    {{#unless topic.isPinnedUncategorized}}
      {{raw "list/category-column" category=topic.category}}
    {{/unless}}
  {{/unless}}
  
  {{#if showPosters}}
    {{raw "list/posters-column" posters=topic.posters}}
  {{/if}}
  
  {{raw "list/posts-count-column" topic=topic}}
  
  {{#if showParticipants}}
    {{raw "list/posters-column" posters=topic.participants}}
  {{/if}}
  
  {{#if showLikes}}
  <td class="num likes">
    {{#if hasLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}
  
  {{#if showOpLikes}}
  <td class="num likes">
    {{#if hasOpLikes}}
      <a href='{{topic.summaryUrl}}'>
        {{number topic.op_like_count}} {{d-icon "heart"}}</td>
      </a>
    {{/if}}
  {{/if}}
  
  <td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>
  
  <td class="num {{class}} {{cold-age-class topic.createdAt startDate=topic.bumpedAt class=""}} activity" title="{{{topic.bumpedAtTitle}}}"><a class="post-activity" href="{{topic.lastPostUrl}}">{{dateString}}</a></td>
  
  </script>

  <script type="text/x-handlebars" data-template-name="list/posters-column.raw">
    {{#if siteSettings.profile_card_enabled}}
    <td class='posters'>
      {{#each posters as |poster|}}
      <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extraClasses}}">{{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" imageSize="small" title=" "}}</a>
      {{/each}}
      </td>
      {{else}}
        <td class='posters'>
          {{#each posters as |poster|}}
          <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extraClasses}}">{{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" namePath="user.name" imageSize="small" title=" "}}</a>
          {{/each}}
          </td>
    {{/if}}
  </script>

  <script type="text/x-handlebars" data-template-name="modal/login">
    {{#login-modal screenX=lastX screenY=lastY loginName=loginName loginPassword=loginPassword loginSecondFactor=loginSecondFactor action="login"}}
    {{#d-modal-body title="login.title" class=(concat "login-modal" " " (if hasAtLeastOneLoginButton "has-alt-auth"))}}
  
      {{#if canLoginLocal}}
        <form id='login-form' method='post'>
          <div id="credentials" class={{credentialsClass}}>
            <table>
              <tr>
                <td><label for='login-account-name'>{{i18n 'login.username'}}</label></td>
                <td>{{text-field value=loginName placeholderKey="login.email_placeholder" id="login-account-name" autocorrect="off" autocapitalize="off" autofocus="autofocus" disabled=showSecondFactor}}</td>
              </tr>
              <tr>
                <td><label for='login-account-password'>{{i18n 'login.password'}}</label></td>
                <td>{{password-field value=loginPassword type="password" id="login-account-password" maxlength="200" capsLockOn=capsLockOn disabled=showSecondFactor}}</td>
              </tr>
              <tr>
                <td></td>
                <td><div class="caps-lock-warning {{unless capsLockOn 'hidden'}}">{{d-icon "exclamation-triangle"}} {{i18n 'login.caps_lock_warning'}}</div></td>
                <td></td>
              </tr>
            </table>
          </div>
          {{#second-factor-form secondFactorMethod=secondFactorMethod loginSecondFactor=loginSecondFactor backupEnabled=backupEnabled class=secondFactorClass}}
            {{second-factor-input value=loginSecondFactor inputId='login-second-factor' secondFactorMethod=secondFactorMethod}}
          {{/second-factor-form}}
        </form>
      {{/if}}
      {{#if showLoginButtons}}
        {{login-buttons
          showLoginWithEmailLink=showLoginWithEmailLink
          processingEmailLink=processingEmailLink
          emailLogin='emailLogin'
          externalLogin='externalLogin'}}
      {{/if}}
    {{/d-modal-body}}
  
    <div class="modal-footer">
      {{#if canLoginLocal}}
        {{d-button action="login"
            icon="unlock"
            label=loginButtonLabel
            disabled=loginDisabled
            class='btn btn-large btn-primary'}}
  
        {{#if showSignupLink}}
          <button class="btn btn-large" id="new-account-link" {{action "createAccount"}}>
            {{i18n 'create_account.title'}}
          </button>
        {{/if}}
        <a class="btn btn-large" id="get-password" href="https://ivd.gib.gov.tr" target="_blank">
          {{i18n 'login.get_password'}}
        </a>
      {{/if}}
  
      {{#if authenticate}}
        &nbsp;{{i18n 'login.authenticating'}}
      {{/if}}
  
      {{conditional-loading-spinner condition=showSpinner size="small"}}
    </div>
  
    <div class="auth-message">{{authMessage}}</div>
    <div id='login-alert' class={{alertClass}}>{{alert}}</div>
  {{/login-modal}}
  
  </script>
  <script type="text/x-handlebars" data-template-name="admin/templates/admin">
    {{#admin-wrapper class="container"}}
    <div class="row">
      <div class="full-width">              
      <div class="admin-main-nav">
  
        <ul class="nav nav-pills">
          {{nav-item route='admin.dashboard' label='admin.dashboard.title'}}
          {{/if}}
          {{nav-item route='adminUsersList' label='admin.users.title'}}
          {{#if showGroups}}
            {{nav-item route='groups' label='admin.groups.title'}}
          {{/if}}
          {{#if showBadges}}
            {{nav-item route='adminBadges' label='admin.badges.title'}}
          {{/if}}
          {{#if currentUser.admin}}
            {{nav-item route='adminEmail' label='admin.email.title'}}
          {{/if}}

          {{nav-item route='adminLogs' label='admin.logs.title'}}
          {{#if siteSettings.admin_categories_enabled}}
            {{nav-item route='adminCategories' label='admin_categories.title'}}
          {{/if}}
          {{#if siteSettings.admin_tags_enabled}}
            {{#if siteSettings.tagging_enabled}}
              {{nav-item route='adminTags' label='admin_tags.title'}}
            {{/if}}
          {{/if}}
          {{#if currentUser.admin}}
            {{nav-item route='adminCustomize' label='admin.customize.title'}}
            {{nav-item route='adminApi' label='admin.api.title'}}
            {{#if siteSettings.enable_backups}}
              {{nav-item route='admin.backups' label='admin.backups.title'}}
            {{/if}}
          {{/if}}
          {{nav-item route='adminPlugins' label='admin.plugins.title'}}
          {{plugin-outlet name="admin-menu" connectorTagName="" tagName=""}}
  
        </ul>
        </div>
  
  
        <div class='boxed white admin-content'>
          <div class='admin-contents {{adminContentsClassName}}'>
            {{outlet}}
          </div>
        </div>
  
      </div>
    </div>
  {{/admin-wrapper}}
  
  </script>

  <script type="text/x-handlebars" data-template-name="components/topic-footer-buttons">
    <div class='topic-footer-main-buttons'>
      {{#if showAdminButton}}
        {{topic-admin-menu-button
          topic=topic
          openUpwards="true"
          toggleMultiSelect=toggleMultiSelect
          hideMultiSelect=hideMultiSelect
          deleteTopic=deleteTopic
          recoverTopic=recoverTopic
          toggleClosed=toggleClosed
          toggleArchived=toggleArchived
          toggleVisibility=toggleVisibility
          showTopicStatusUpdate=showTopicStatusUpdate
          showFeatureTopic=showFeatureTopic
          showChangeTimestamp=showChangeTimestamp
          resetBumpDate=resetBumpDate
          convertToPublicTopic=convertToPublicTopic
          convertToPrivateMessage=convertToPrivateMessage}}
      {{/if}}
    
      {{#if site.mobileView}}
        {{topic-footer-mobile-dropdown topic=topic content=dropdownButtons}}
      {{/if}}
    
      {{#each inlineButtons as |button|}}
        {{d-button
          id=(concat "topic-footer-button-" button.id)
          class=(concat "btn-default topic-footer-button " button.classNames)
          action=button.action
          icon=button.icon
          translatedLabel=button.label
          translatedTitle=button.title
          disabled=button.disabled}}
      {{/each}}
    
      {{plugin-outlet name="topic-footer-main-buttons-before-create"
                      args=(hash topic=topic)
                      tagName=""
                      connectorTagName="span"}}
    
      {{#if topic.details.can_create_post}}
        {{#if siteSettings.category_owner_restriction_enabled}}
          {{#if topic.hasReply}}
            {{d-button class="btn-primary create"
            icon="reply"
            action=replyToPost
            label="topic.reply.title"
            title="topic.reply.help"}}
          {{/if}}
          {{else}}
            {{d-button class="btn-primary create"
            icon="reply"
            action=replyToPost
            label="topic.reply.title"
            title="topic.reply.help"}}
        {{/if}}
      {{/if}}
    
      {{plugin-outlet name="after-topic-footer-main-buttons"
                      args=(hash topic=topic)
                      tagName=""
                      connectorTagName="span"}}
    
      {{pinned-button pinned=topic.pinned topic=topic}}
    </div>
    
    {{#if showNotificationsButton}}
      {{topic-notifications-button notificationLevel=topic.details.notification_level topic=topic}}
    {{/if}}
    
    {{plugin-outlet name="after-topic-footer-buttons"
                    args=(hash topic=topic)
                    tagName=""
                    connectorTagName="span"}}
    
  </script>
  <script type="text/x-handlebars" data-template-name="user">
    <div class="container {{if viewingSelf 'viewing-self'}}">
      {{#d-section class="user-main"}}
    
        <section class="{{if collapsedInfo 'collapsed-info'}} about {{if hasProfileBackground 'has-background' 'no-background'}}"  style={{model.profileBackground}}>
        {{#unless collapsedInfo}}
          {{#if showStaffCounters}}
            <div class='staff-counters'>
              {{#if model.number_of_flags_given}}
                <div><span class="helpful-flags">{{model.number_of_flags_given}}</span>{{i18n 'user.staff_counters.flags_given'}}</div>
              {{/if}}
              {{#if model.number_of_flagged_posts}}
                <div>
                  {{#link-to 'user.flaggedPosts' model}}
                    <span class="flagged-posts">{{model.number_of_flagged_posts}}</span>{{i18n 'user.staff_counters.flagged_posts'}}
                  {{/link-to}}
                </div>
              {{/if}}
              {{#if model.number_of_deleted_posts}}
                <div>
                  {{#link-to 'user.deletedPosts' model}}
                    <span class="deleted-posts">{{model.number_of_deleted_posts}}</span>{{i18n 'user.staff_counters.deleted_posts'}}
                  {{/link-to}}
                </div>
              {{/if}}
              {{#if model.number_of_suspensions}}
                <div>
                  <a {{action "showSuspensions"}}>
                    <span class="suspensions">{{model.number_of_suspensions}}</span>{{i18n 'user.staff_counters.suspensions'}}
                  </a>
                </div>
              {{/if}}
              {{#if model.warnings_received_count}}
                <div><span class="warnings-received">{{model.warnings_received_count}}</span>{{i18n 'user.staff_counters.warnings_received'}}</div>
              {{/if}}
            </div>
          {{/if}}
        {{/unless}}
    
          <div class='profile-image'></div>
          <div class='details'>
            <div class='primary'>
              {{user-profile-avatar user=model}}
              <section class='controls'>
                <ul>
                  {{#if model.can_send_private_message_to_user}}
                  <li>
                    {{d-button class="btn btn-primary compose-pm"
                      action=(route-action "composePrivateMessage" model)
                      icon="envelope"
                      label="user.private_message"}}
                  </li>
                  {{/if}}
                  {{#if currentUser.staff}}
                    <li><a href={{model.adminPath}} class="btn btn-default">{{d-icon "wrench"}}{{i18n 'admin.user.show_admin_profile'}}</a></li>
                  {{/if}}
                  {{plugin-outlet name="user-profile-controls"
                                  connectorTagName="li"
                                  args=(hash model=model)}}
    
                  {{#if canExpandProfile}}
                    <li>
                      {{#if collapsedInfo}}
                        <a {{action "expandProfile"}} href class="btn btn-default">
                          {{d-icon "angle-double-down"}} {{i18n 'user.expand_profile'}}
                        </a>
                      {{else}}
                        <a {{action "collapseProfile"}} href class="btn btn-default">
                          {{d-icon "angle-double-up"}} {{i18n 'user.collapse_profile'}}
                        </a>
                      {{/if}}
                    </li>
                  {{/if}}
                </ul>
              </section>
    
              <div class="primary-textual">
                {{#if siteSettings.profile_card_enabled}}
                  <h1 class="username">{{gibName}}</h1>
                  {{else}}
                    <h1 class="{{if nameFirst "full-name" "username"}}">{{if nameFirst model.name (format-username model.username)}} {{user-status model currentUser=currentUser}}</h1>
                    <h2 class="{{if nameFirst "username" "full-name"}}">{{#if nameFirst}}{{model.username}}{{else}}{{model.name}}{{/if}}</h2>
                {{/if}}
                {{#if model.staged}}
                  <h2 class="staged">{{i18n 'user.staged'}}</h2>
                {{/if}}
                {{plugin-outlet name="user-post-names" args=(hash model=model)}}
                <h3 class="location-and-website">
                {{#if model.location}}{{d-icon "map-marker"}} {{model.location}}{{/if}}
                {{#if model.website_name}}
                  {{d-icon "globe"}}
                  {{#if linkWebsite}}
                    <a href={{model.website}} rel={{unless removeNoFollow 'nofollow noopener'}} target="_blank">{{model.website_name}}</a>
                  {{else}}
                    <span title={{model.website}}>{{model.website_name}}</span>
                  {{/if}}
                {{/if}}
                {{plugin-outlet name="user-location-and-website" args=(hash model=model)}}
                </h3>
    
                <div class='bio'>
                  {{#if model.suspended}}
                    <div class='suspended'>
                      {{d-icon "ban"}}
                      <b>
                        {{#if model.suspendedForever}}
                          {{i18n 'user.suspended_permanently'}}
                        {{else}}
                          {{i18n 'user.suspended_notice' date=model.suspendedTillDate}}
                        {{/if}}
                      </b><br>
                      {{#if model.suspend_reason}}
                        <b>{{i18n 'user.suspended_reason'}}</b> {{model.suspend_reason}}
                      {{/if}}
                    </div>
                  {{/if}}
                  {{#if isNotSuspendedOrIsStaff}}
                    {{{model.bio_cooked}}}
                  {{/if}}
                </div>
    
                {{#if publicUserFields}}
                  <div class="public-user-fields">
                    {{#each publicUserFields as |uf|}}
                      {{#if uf.value}}
                        <div class="public-user-field {{uf.field.dasherized_name}}">
                          <span class="user-field-name">{{uf.field.name}}</span>:
                          <span class="user-field-value">{{uf.value}}</span>
                        </div>
                      {{/if}}
                    {{/each}}
    
                    {{plugin-outlet name="user-profile-public-fields"
                                    args=(hash publicUserFields=publicUserFields
                                          model=model)}}
                  </div>
                {{/if}}
    
                {{plugin-outlet name="user-profile-primary" args=(hash model=model)}}
              </div>
            </div>
            <div style='clear: both'></div>
          </div>
    
          {{#unless collapsedInfo}}
          <div class='secondary'>
            <dl>
              {{#if model.created_at}}
                <div><dt>{{i18n 'user.created'}}</dt><dd>{{bound-date model.created_at}}</dd></div>
              {{/if}}
              {{#if model.last_posted_at}}
                <div><dt>{{i18n 'user.last_posted'}}</dt><dd>{{bound-date model.last_posted_at}}</dd></div>
              {{/if}}
              {{#if model.last_seen_at}}
                <div><dt>{{i18n 'user.last_seen'}}</dt><dd>{{bound-date model.last_seen_at}}</dd></div>
              {{/if}}
              <div><dt>{{i18n 'views'}}</dt><dd>{{model.profile_view_count}}</dd></div>
              {{#if model.invited_by}}
                <div><dt class="invited-by">{{i18n 'user.invited_by'}}</dt><dd class="invited-by">{{#link-to 'user' model.invited_by}}{{model.invited_by.username}}{{/link-to}}</dd></div>
              {{/if}}
              {{#if model.trust_level}}
                <div><dt class="trust-level">{{i18n 'user.trust_level'}}</dt><dd class="trust-level">{{model.trustLevel.name}}</dd></div>
              {{/if}}
              {{#if canCheckEmails}}
                <div><dt>{{i18n 'user.email.title'}}</dt>
                <dd title={{model.email}}>
                  {{#if model.email}}
                    {{model.email}}
                  {{else}}
                    {{d-button action=(route-action "checkEmail") actionParam=model icon="far-envelope" label="admin.users.check_email.text" class="btn-primary"}}
                  {{/if}}
                </dd>
                </div>
              {{/if}}
    
              {{#if model.displayGroups}}
                <div><dt class="groups">{{i18n 'groups.title' count=model.displayGroups.length}}</dt>
                <dd class='groups'>
                  {{#each model.displayGroups as |group|}}
                    <span>{{#link-to 'group' group.name class="group-link"}}{{group.name}}{{/link-to}}</span>
                  {{/each}}
    
                  {{#link-to "groups" (query-params username=model.username)}}
                    ...
                  {{/link-to}}
                </dd>
                </div>
              {{/if}}
    
              {{#if canDeleteUser}}
                <div>{{d-button action=(action "adminDelete") icon="exclamation-triangle" label="user.admin_delete" class="btn-danger"}}</div>
              {{/if}}
            </dl>
            {{plugin-outlet name="user-profile-secondary" args=(hash model=model)}}
          </div>
          {{/unless}}
        </section>
    
        {{#mobile-nav class='main-nav' desktopClass="nav nav-pills user-nav" currentPath=currentPath}}
          {{#unless model.profile_hidden}}
            <li>{{#link-to 'user.summary'}}{{i18n 'user.summary.title'}}{{/link-to}}</li>
            <li>{{#link-to 'userActivity'}}{{i18n 'user.activity_stream'}}{{/link-to}}</li>
          {{/unless}}
          {{#if showNotificationsTab}}
            <li>
              {{#link-to 'userNotifications'}}
                {{d-icon "comment" class="glyph"}}{{i18n 'user.notifications'}}
              {{/link-to}}
            </li>
          {{/if}}
          {{#if showPrivateMessages}}
            <li>{{#link-to 'userPrivateMessages'}}{{d-icon "far-envelope"}}{{i18n 'user.private_messages'}}{{/link-to}}</li>
          {{/if}}
          {{#if canInviteToForum}}
            <li>{{#link-to 'userInvited'}}{{d-icon "user-plus"}}{{i18n 'user.invited.title'}}{{/link-to}}</li>
          {{/if}}
          {{#if showBadges}}
            <li>{{#link-to 'user.badges'}}{{d-icon "certificate"}}{{i18n 'badges.title'}}{{/link-to}}</li>
          {{/if}}
          {{plugin-outlet name="user-main-nav" tagName='' connectorTagName='li' args=(hash model=model)}}
          {{#if model.can_edit}}
            <li>{{#link-to 'preferences'}}{{d-icon "cog"}}{{i18n 'user.preferences'}}{{/link-to}}</li>
          {{/if}}
        {{/mobile-nav}}
    
        <div class='user-table'>
          <div class='wrapper'>
            {{outlet}}
          </div>
        </div>
    
      {{/d-section}}
    </div>
    
  </script>
  <script type="text/x-handlebars" data-template-name="components/latest-topic-list-item">
    {{#if siteSettings.profile_card_enabled}}
    <div class='topic-poster'>
      {{#user-link user=topic.lastPoster}}
        {{avatar topic.lastPoster imageSize="large" title=" "}}
      {{/user-link}}
    </div>
    <div class='main-link'>
      <div class='top-row'>
        {{raw "topic-status" topic=topic}}
        {{topic-link topic}}
        {{#if topic.featured_link}}
          {{topic-featured-link topic}}
        {{/if}}
        {{topic-post-badges newPosts=topic.totalUnread unseen=topic.unseen url=topic.lastUnreadUrl}}
      </div>
      <div class='bottom-row'>
        {{category-link topic.category}}
        {{discourse-tags topic mode="list"}}
      </div>
    </div>
    <div class='topic-stats'>
      {{raw "list/posts-count-column" topic=topic tagName="div"}}
      <div class="topic-last-activity">
        <a href="{{topic.lastPostUrl}}" title="{{topic.bumpedAtTitle}}">{{format-date topic.bumpedAt format="tiny" noTitle="true"}}</a>
      </div>
    </div>    
    {{else}}
    <div class='topic-poster'>
      {{#user-link user=topic.lastPoster}}
        {{avatar topic.lastPoster imageSize="large"}}
      {{/user-link}}
    </div>
    <div class='main-link'>
      <div class='top-row'>
        {{raw "topic-status" topic=topic}}
        {{topic-link topic}}
        {{#if topic.featured_link}}
          {{topic-featured-link topic}}
        {{/if}}
        {{topic-post-badges newPosts=topic.totalUnread unseen=topic.unseen url=topic.lastUnreadUrl}}
      </div>
      <div class='bottom-row'>
        {{category-link topic.category}}
        {{discourse-tags topic mode="list"}}
      </div>
    </div>
    <div class='topic-stats'>
      {{raw "list/posts-count-column" topic=topic tagName="div"}}
      <div class="topic-last-activity">
        <a href="{{topic.lastPostUrl}}" title="{{topic.bumpedAtTitle}}">{{format-date topic.bumpedAt format="tiny" noTitle="true"}}</a>
      </div>
    </div>
    
    {{/if}}
  </script>
  <script type="text/x-handlebars" data-template-name="about">
    {{#d-section pageClass="about"}}
<div class='container'>
  <div class='contents clearfix body-page'>

    <section class='about description'>
      <h2>{{model.title}}</h2>
      <p>{{model.description}}</p>
      <p>Gelir İdaresi Başkanlığı Forum Uygulamasına hoş geldiniz.</p>
      <p>GİB Forum, mükellefler ve meslek mensupları başta olmak üzere vergi ile doğrudan ya da
        dolaylı ilgisi olan herkese Başkanlık görev alanında yer alan konular ile Başkanlık tarafından
        geliştirilen uygulamalarla ilgili konularda hızlı ve doğru bir bilgilendirme yapılabilmesi
        amacıyla hayata geçirilmiştir.</p>
      <p>Forum’da yer alan soru ve konulara verilen cevaplar 213 sayılı Vergi Usul Kanununun
        413’üncü maddesinde düzenlenen özelge veya sirküler mahiyetinde değildir.</p>
      <p>Saygılarımızla.</p>
    </section>

    {{#if contactInfo}}
    <section class='about contact'>
      <h3>{{d-icon "far-envelope"}} {{i18n 'about.contact'}}</h3>
      <p>{{{contactInfo}}}</p>
    </section>
    {{/if}}

  </div>
</div>
{{/d-section}}
  </script>